.sports-preview-wrapper {
  height: 100vh;
  overflow-y: scroll;
  background: radial-gradient(
      50% 50% at 50% 50%,
      #45124a 0%,
      rgba(46, 12, 49, 0) 100%
    ),
    #2e0c31;
  .navbar-wrapper {
    position: relative;
  }
  img {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 100px;
    border-radius: 10px;
  }
}
