footer {
  width: calc(100% - 5vw);
  padding: 50px 2.5vw;
  scroll-snap-align: start;
  background: #2e0c31;
  display: flex;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    flex: 1;
    h2 {
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 163.1%;
      color: #fff2e4;
      position: relative;
      text-align: left !important;
      margin-bottom: 1em;
      &:after {
        bottom: 0;
        left: 0;
        content: '';
        position: absolute;
        width: 47.5px;
        height: 3px;
        background-color: #fff2e4;

        @media screen and (max-width: 900px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        line-height: 163.1%;
      }
    }
    span {
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 163.1%;
      display: block;

      color: #fff2e4;
      @media screen and (max-width: 900px) {
        font-size: 20px;
        line-height: 163.1%;
      }
    }
    div {
      gap: 50px;
      margin-top: 60px;
      display: flex;
      @media screen and (max-width: 900px) {
        gap: 42px;
      }
      a {
        display: block;
      }
    }
    #icon {
      width: 230px;
      height: 134px;
    }
  }
}
.bosecode {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 163.1%;
  color: #fff2e4;
  text-align: center;
  position: relative;
  padding-bottom: 0.5em;
  background: #2e0c31;
}
