@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Aquire';
  src: url('./assets/aquire-font/Aquire-BW0ox.otf');
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --react-glitch-font-size: 72px;
  --react-glitch-font-family: 'Aquire';
  --react-glitch-text-color: white;
  --react-glitch-text-background-color: #101518;
  --react-glitch-text-glitch-color-1: #49fc00;
  --react-glitch-text-glitch-color-2: #b300fc;
}

/* * {
  border: 1px solid;
} */
