.about-us-wrapper {
  height: 100vh;
  overflow-y: scroll;
  background: radial-gradient(
      50% 50% at 50% 50%,
      #45124a 0%,
      rgba(46, 12, 49, 0) 100%
    ),
    #2e0c31;
  background-image: url(https://i.ibb.co/cbB8GBJ/Rectangle-2994.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .navbar-wrapper {
    position: relative;
  }
  h1 {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
    @media screen and(max-width:800px) {
      font-size: 36px;
      line-height: 46px;
    }
  }
  h2 {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 154.6%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 48px;
    letter-spacing: 0.02em;

    color: #ffffff;
    @media screen and(max-width:800px) {
      font-size: 18px;
      width: 90%;
      margin: 10px auto;
      margin-bottom: 48px;
    }
  }
  .people-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: baseline;
    @media screen and(max-width:900px) {
      grid-template-columns: 1fr 1fr;
    }
    width: 90%;
    margin: 50px auto;
    gap: 40px;
  }
  .slick-slider {
    width: 90%;
    margin: auto;
    // width: calc(100% - 40px);
    // padding: 20px;
    text-align: center;
    position: relative;
    margin: auto;
    h3 {
      width: 80%;
    }
    .people-card {
      margin: 0 10px;
    }
    .slick-prev {
      left: 0;
      z-index: 10;
      width: 73px;
      height: 73px;
      &:before {
        content: url(../../assets/svg/arrow-left.svg);

        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }
    .slick-next {
      right: 0;
      width: 73px;
      height: 73px;
      z-index: 10;
      &:before {
        content: url(../../assets/svg/arrow-right.svg);
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }
  }
  .people-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    img {
      border-radius: 80px;
      object-fit: cover;
      width: 167px;
      height: 304px;
      margin-bottom: 17px;
      @media screen and(max-width:800px) {
        width: 100%;
        max-width: 167px;
      }
    }
    h3 {
      font-family: 'Aquire';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 116%;

      text-align: center;

      color: #ffffff;
      @media screen and(max-width:800px) {
        font-size: 18px;
      }
    }
    p {
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #ffffff;
      @media screen and(max-width:800px) {
        font-size: 12px;
      }
    }
    h4 {
      font-family: 'Aquire';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 19px;
      text-align: center;

      color: #ffffff;
      margin-top: 12px;
      margin-bottom: 8px;
      @media screen and(max-width:800px) {
        font-size: 14px;
      }
    }
  }
}
